<div>
    <h2 style="background-color: rgb(202, 67, 37); color: white; padding: 1rem; text-align: center;">¿Deseas eliminar el usuario?</h2>
    <div style="padding: 1rem;">
        <div style="display: grid; grid-template-columns: 50% 50%; font-size: large; padding: 1rem;">
            <b>ID: </b> <span style="margin: .5rem;">{{userData?.userId}} </span>
            <b>Usuario: </b><span style="margin: .5rem;">{{userData?.user}} </span>
            <b>Nombre: </b><span style="margin: .5rem;">{{userData?.name}} </span>
            <b>Apellido: </b><span style="margin: .5rem;">{{userData?.lname}} </span>
            <b>Rol: </b><span style="margin: .5rem;">{{userData?.rolSelected.rolename}} </span>
        </div>
        <div style="display: grid; place-items: center;">
            <button (click)="delete()" mat-raised-button color="warn">Sí, eliminar</button>
        </div>
    </div>
</div>