<p >
    <mat-toolbar style="background-color: rgb(112 172 162);">
      <span style="color: white;">Web App Itree</span>
        <img style="background-color: white;" src="https://www.itree.mx/wp-content/uploads/2021/08/cropped-cropped-Logo-iTree-165x48.png"
        style="margin: 2rem;">
        <span style=" position: absolute; right:0; margin-right:1rem ;">
            <button  (click)="closeSession()"  mat-stroked-button style="border: 1px solid white; color: white;">Cerrar sesión</button>
        </span>
    </mat-toolbar>
  </p>
  


  