<div style="border-radius: .5rem;">
    <h2 style="background-color: rgb(139, 118, 202); padding: 1rem; color: white; text-align: center;">
        Actualizando 
    </h2>
    <form class="login-form" style="display: grid; place-items: center; padding: 1rem;  grid-template-columns: 50% 50%;">

        <mat-form-field style="margin: 1rem;" class="password" id="name">
            <mat-label style="padding: .5rem;">Nombre</mat-label>
            <input type="text" matInput [(ngModel)]="userData.name" name="name">
        </mat-form-field>

        <mat-form-field style="margin: 1rem;" class="password" id="lastname">
            <mat-label style="padding: .5rem;">Apellido</mat-label>
            <input type="text" matInput [(ngModel)]="userData.lname" name="lastname">
        </mat-form-field>

        <mat-form-field style="margin: 1rem;" class="user" id="user">
            <mat-label style="padding: .5rem;">Usuario</mat-label>
            <input type="text" [value]="userData.user" matInput [(ngModel)]="userData.user" name="user" disabled="true">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Nuevo rol </mat-label>
            <mat-select  [(ngModel)]="userData.rolSelected.rolid" name="rolselection">
                <mat-option   *ngFor="let rol of roles" [value]="rol.idroles">{{rol.rolename}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Rol Actual</mat-label>
            <input type="text" matInput [(ngModel)]="userData.rolSelected.roledesc" name="currentRol" disabled="true">
        </mat-form-field>

        <mat-form-field style="margin: 1rem;" class="password" id="pass">
            <mat-label style="padding: .5rem;">Password</mat-label>
            <input type="password" matInput [(ngModel)]="pass" name="pass">
        </mat-form-field>

        <mat-form-field style="margin: 1rem;" class="password" id="confpass">
            <mat-label style="padding: .5rem;">Confirma el password</mat-label>
            <input type="password" matInput [(ngModel)]="cpass" name="confpass">
        </mat-form-field>

    </form>

    <div style="display: grid; place-items: center;">

        <button (click)="sendUpdateUser()" 
        mat-button 
        style="background-color: rgb(158, 141, 200); 
            color: whitesmoke; 
            box-shadow: 1px 2px 5px 0px;
            font-size: large;
            padding: 1rem;
            margin-bottom: 1rem;
            ">Actualizar</button>
    </div>    

</div>
