<div style="display: grid; place-items: center;">


    <div
        style="background-color: white; display: inline-block; box-shadow: 1px 2px 5px 0px; padding: 1rem; border-radius: .5rem;">
        <div style="display: grid; place-content: center; background-color: rgb(88, 139, 89); color: whitesmoke; border-radius: .5rem;">
            <h2>
                Usuarios
            </h2>
        </div>
        <mat-tab-group>
            <mat-tab label="Nuevo">
                <form class="login-form" style="display: grid; place-items: center; padding: 1rem;  grid-template-columns: 50% 50%;">

                    <mat-form-field style="margin: 1rem;" class="password" id="name">
                        <mat-label style="padding: .5rem;">Nombre</mat-label>
                        <input type="text" matInput [(ngModel)]="name" name="name">
                    </mat-form-field>

                    <mat-form-field style="margin: 1rem;" class="password" id="lastname">
                        <mat-label style="padding: .5rem;">Apellido</mat-label>
                        <input type="text" matInput [(ngModel)]="lname" name="lastname">
                    </mat-form-field>

                    <mat-form-field style="margin: 1rem;" class="user" id="user">
                        <mat-label style="padding: .5rem;">Usuario</mat-label>
                        <input type="text" matInput [(ngModel)]="user" name="user">
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Rol del usuario</mat-label>
                        <mat-select  [(ngModel)]="rolSelected" name="rolselection">
                            <mat-option   *ngFor="let rol of roles" [value]="rol.idroles" [attr.matTooltip]="rol.roledesc" >{{rol.rolename}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="margin: 1rem;" class="password" id="pass">
                        <mat-label style="padding: .5rem;">Password</mat-label>
                        <input type="password" matInput [(ngModel)]="pass" name="pass">
                    </mat-form-field>

                    <mat-form-field style="margin: 1rem;" class="password" id="confpass">
                        <mat-label style="padding: .5rem;">Confirma el password</mat-label>
                        <input type="password" matInput [(ngModel)]="cpass" name="confpass">
                    </mat-form-field>



                </form>
                <div style="display: grid; place-items: center;">

                    <button (click)="sendNewUser()" 
                    mat-button 
                    style="background-color: rgb(88, 139, 89); 
                        color: whitesmoke; 
                        box-shadow: 1px 2px 5px 0px;
                        font-size: large;
                        padding: 1rem;
                        ">Crear</button>
                </div>
            </mat-tab>
            <mat-tab label="Lista"> 
                <app-users-list></app-users-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>  