<div *ngIf="!logged" style="display: flex; justify-content: center; align-items: center; height: 100vh; ">
    <img src="https://www.itree.mx/wp-content/uploads/2021/08/cropped-cropped-Logo-iTree-165x48.png"
        style="margin: 2rem;">
    <div style="display: inline-block; border-radius: .5rem; box-shadow:  1px 2px 5px 0px;   background-color: white;">
        <h1 style="background-color: rgb(49, 160, 108); color: white; padding: 1rem; text-align: center;">Bienvenido</h1>

        <form class="login-form" style="display: grid; place-items: center;">

            <mat-form-field style="margin: 1rem;" class="user" id="user">
                <mat-label style="padding: .5rem;">Usuario</mat-label>
                <input type="text" matInput [(ngModel)]="user" name="user">
            </mat-form-field>

            <mat-form-field style="margin: 1rem;" class="password" id="user">
                <mat-label style="padding: .5rem;">Password</mat-label>
                <input type="password" matInput [(ngModel)]="pass" name="pass">
            </mat-form-field>


            <button (click)="sendLogin()" mat-button
                style="margin: 1rem; background-color: rgb(49, 160, 108); color: rgb(62, 41, 41); box-shadow: 1px 2px 5px 0px; color: white;">Ingresar</button>
        </form>
    </div>
</div>

<app-user-crud *ngIf="logged"></app-user-crud>

<div  style="position: absolute; bottom: 0; background-color: rgb(112 172 162); width: 100%; padding: .5rem; color: white;">
    <footer style="display: inline;">Desarrollado por Pablo Hernández  2024</footer>
    <span style="display: inline; float: right;">pablodev1&commat;outlook.com</span>
</div>