<div style="padding: 1rem; border: 1px solid rgba(0,50,0,.2); border-radius: .5rem; "  >
    <div class="lux border rounded">
      <div class="bonoColor">
        <h2 class="rounded" style="padding: 1rem;">Lista de usuarios
         <span style="border: 2px solid white; float: right; padding: .2rem;" class="rounded">
         </span>
        </h2>
      </div>
  
      <div  style="padding: 1rem; border: 1px solid rgba(0,0,0,.3);">

        <mat-form-field>
          <input matInput placeholder="Buscar" [(ngModel)]="searchText" (input)="applyFilter()" />
        </mat-form-field>
  
        <table mat-table [dataSource]="userDataSource" matSort>
  
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let element"> {{ element.iduser}} </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
            <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bonoColor">Nombre</th>
            <td mat-cell *matCellDef="let element"> {{ element.firstname }} </td>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bonoColor">Apellido</th>
            <td mat-cell *matCellDef="let element"> {{ element.lastname }} </td>
          </ng-container>
  
          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bonoColor">Rol</th>
            <td mat-cell *matCellDef="let element"  [attr.matTooltip]="element.roledesc" >{{element.rolename}}         </td>
          </ng-container>
  
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bonoColor">Fecha Creación</th>
            <td mat-cell *matCellDef="let element"> {{ element.created_at }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bonoColor"></th>
            <td mat-cell *matCellDef="let element">
            <button (click)="openUpdate(element)" mat-raised-button style="background-color: rgb(139, 118, 202); color: white;">Actualizar</button>
            <button (click)="openDelete(element)" style="margin-left: .5rem;" mat-raised-button color="warn">Eliminar</button>
            </td>
          </ng-container>
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-effect" >
          </tr>
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell noUsers" colspan="4">No hay usuarios para mostrar</td>
          </tr>
          
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons  class="bonoColor"></mat-paginator>
      </div>
    </div>
  
  
